@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
	--color-background: #1c1c1f;
	--color-secondary: #606060;
	--color-tertiary: #242428;
	--color-accent: #83a784;
	--font-color: #808080;
	--button-hover: #3f3f43;
	--button-basic: #2f2f33;
}

a {
	color: var(--color-accent);
}
a:hover {
	color: var(--button-hover);
}
.alert {
	background: var(--color-accent);
}
.accent {
	color:var(--color-accent);
	background: var(--background-color);
}
body {
	background: var(--color-background);
}
button {
	background-color: var(--button-basic);
	color: var(--color-accent);
}
button:hover {
	background: var(--button-hover);
}
#content {
	color: var(--font-color);
}
header {
	color: var(--font-color);
	background-color: var(--background-color);
}
form input {
	background-color: var(--color-secondary);
	border: 1px solid var(--font-color);
	color:var(--color-accent);
}
@keyframes scroll-left {
0% {
	transform:translateX(100%);
}
100% {
	transform:translateX(-100%);
}
}

.msg {
	color:var(--font-color);
}
.msg .name {
	color: var(--font-color);
	text-decoration: none;
}
.msg .name:hover {
	background: var(--button-basic);
	color: var(--font-color);
}
#msgSender {
	background: var(--color-secondary);
	border: 30px var(--color-background);
	color:var(--color-accent);
}
nav ul {
	background-color: var(--background-color);
	float: right;
	height: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	top: 0;
	width: 88px;
}
nav ul li {
	list-style: none;
	color:var(--color-accent-color);
}
nav ul li a {
	color: var(--color-accent);
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	padding: 25px 0 25px 38px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}
nav ul li a:before {
	background: #e3e9f7;
	border-radius: 40px 0px 0px 40px;
	content: '';
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	transition: all 300ms ease-in-out;
	width: 0%;
	z-index: -1;
}
p {
	border-bottom-style: solid;
	border-width: 1px;
}
.scroll-left {
	height: 50px;
	overflow: hidden;
	position:relative;
	color: var(--font-color);
}
.scroll-left p {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 50px;
	text-align: center;
	transform:translateX(100%);
	animation: scroll-left 10s linear infinite;
}
.sender {
	border-radius: 2px;
	color: var(--color-accent)
}
.settings {
	bottom: 61px;
	float: right;
	position: absolute;
	right: 600px;
}
.sticky {
	position: fixed;
	top: 0;
	background-color: var(background-color);
	width: 100%;
}
.sticky + #content {
	padding-top: 100px;
}
.tooltip {
	display: inline-block;
	position: relative;
}
.tooltip .tooltiptext {
	border-radius: 6px;
	color: var(--font-color);
	padding: 5px 0;
	position: absolute;
	right: 105%;
	top: -5px;
	visibility: hidden;
	width: 120px;
	z-index: 1;
}
.tooltip:hover .tooltiptext {
	color: var(--font-color);
	visibility: visible;
}
.username {
	bottom: 61px;
	color: var(--font-color);
	font-size: 60;
	padding: 5px;
	right: 600px;
}
.sidenav {
	background-color: var(--color-tertiary);
	color:var(--color-accent);
}
.sidenav a {
	color: var(--color-accent);
	text-decoration: none;
}
.sidenav a:hover {
	background: var(--color-tertiary);
	color: var(--font-color);
}