* {
     font-family: 'Open Sans', sans-serif;
     --color-background: #ECEAE9;
     --color-secondary: #d0d0d0;
     --color-tertiary: #abababab;
     --color-accent: #83a784;
     --font-color: #808080;
     --button-hover: #bdbdbd;
     --button-basic: #cdcdcd;
}
 a {
     color: var(--color-accent);
}
 a:hover {
     color: var(--button-hover);
}
 body {
     background-color:var(--color-background);
}
 button {
     background-color: var(--button-basic);
     color: var(--font-color);
}
 button:hover {
     background: var(--button-hover);
}
 .label_login {
     color:var(--color-tertiary);
}
 form input {
     background-color: var(--color-tertiary);
     color:var(--font-color);
}
 p {
     border-bottom-style: solid;
     border-width: 1px;
}
 .scroll-left {
     color: var(--font-color);
}
 .clocker {
     color:var(--font-color);
}
 