{% extends "base.html" %}

{% block body %}
     <div class="scroll-left"><p>NOVUS ORDO SECLORUM</p></div><br>
<div class="hor">

    
<a href="/login"><button><span class="material-symbols-outlined">
login
</span>
</button></a>
<a href="/signup"><button><span class="material-symbols-outlined">
person_add
</span>

</button></a><br><br>
    <div id="clock" class="clocker" onload="showTime()">  <br><br>
        
</div>
    <span style="padding: 12px; font-size:34px">Announcements: </span><br>
</div>
    <span id="spanResult">

    </span>
{% end %}

{% block afterbody %}
<script>
function showTime(){
    var date = new Date();
    var h = date.getHours(); // 0 - 23
    var m = date.getMinutes(); // 0 - 59
    var s = date.getSeconds(); // 0 - 59
    var session = "AM";
    
    if(h == 0){
        h = 12;
    }
    
    if(h > 12){
        h = h - 12;
        session = "PM";
    }
    
    h = (h < 10) ? "0" + h : h;
    m = (m < 10) ? "0" + m : m;
    s = (s < 10) ? "0" + s : s;
    
    var time = h + ":" + m + ":" + s + " " + session;
    document.getElementById("clock").innerText = time;
    document.getElementById("clock").textContent = time;
    
    setTimeout(showTime, 1000);
    
}

showTime();
</script>
{% end %}