{% extends "base.html" %}

{% block body %}
<div class='center'>
    <span id='error'>{{ message }}</span>
<form id="login" method='post'>
    <label class="label_login">LOGIN:</label><br>
    <input id='u' type="text" placeholder="Username:" name="username" required><br>
    <input id='p' type="password" placeholder="Password:" name="password" required>
    <input type="submit" style="display:none;" /><br>
    
</form>
<a href="/signup"><button><i class="fa fa-plus" aria-hidden="true"></i>
</button></a>
    <a href="/"><button style='margin-top:25%;' ><i class="fa fa-home" aria-hidden="true"></i>
</button></a>
</div>
{% end %}

{% block afterbody %}
<script>
    function resizable (el, factor) {
        var int = Number(factor) || 7.7;
        function resize() {el.style.width = ((el.value.length+1) * int) + 'em'}
        var e = 'keyup,keypress,focus,blur,change'.split(',');
        for (var i in e) el.addEventListener(e[i],resize,false);
        resize();
    }
    resizable(document.getElementById('u'), .8);//14.2);
    resizable(document.getElementById('p'), .75);//14.2);
</script>
{% end %}