{% extends "base.html" %}

{% block body %}
<div class='center'>
    <span id='error'>{{ message }}</span>
<form id="login" method='post'>
    <label class="label_login">LOGIN:</label><br>
    <input id='u' class="login" type="text" placeholder="Username:" name="username" required><br>
    <input id='p' class="login" type="password" placeholder="Password:" name="password" required><br>
 <button type="submit" name="submit" value="Login" id="submit" >Login</button><br>

</form>
<a href="/"><button><span class="material-symbols-outlined">
home
</span>
</button></a>
<a href="/signup"><button><span class="material-symbols-outlined">
person_add
</span>

</button></a><br><br>
<a href="/login/twitter"><button class="oauth oauth-twitter">Login with Twitter</button></a>
</div>


{% end %}

{% block afterbody %}
<script>
    function resizable (el, factor) {
        var int = Number(factor) || 7.7;
        function resize() {el.style.width = ((el.value.length+1) * int) + 'em'}
        var e = 'keyup,keypress,focus,blur,change'.split(',');
        for (var i in e) el.addEventListener(e[i],resize,false);
        resize();
    }
    resizable(document.getElementById('u'), .8);//14.2);
    resizable(document.getElementById('p'), .62);//14.2);
</script>
{% end %}