{% extends "base.html" %}

{% block body %}
<div class='center'>
    <span id='error'>{{ message }}</span>
<form id="login" method='post'>
    <label class="label_login">SIGN UP:</label><br>
    <input id='u' type="text" placeholder="Username:" name="username" required><br>
    <input style='margin-top:1%;' id='p' type="password" placeholder="Password:" name="password" required><br>
    <input id='p2' type="password" placeholder="Repeat:" name="password-repeat" required>
    <input type="submit" style="display:none;" /><br>
</form>
<a href="/"><button><span class="material-symbols-outlined">
home
</span>
</button></a>
<a href="/login"><button><span class="material-symbols-outlined">
login
</span>

</button></a><br><br>
</div>
{% end %}

{% block afterbody %}
<script>
    function resizable (el, factor) {
        var int = Number(factor) || 7.7;
        function resize() {el.style.width = ((el.value.length+1) * int) + 'em'}
        var e = 'keyup,keypress,focus,blur,change'.split(',');
        for (var i in e) el.addEventListener(e[i],resize,false);
        resize();
    }
    resizable(document.getElementById('u'), .7);//14.2);
    resizable(document.getElementById('p'), .75);//14.2);
    resizable(document.getElementById('p2'), .75);//14.2);
</script>
{% end %}